@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Major Mono Display', monospace;
	color: #333333;
}

.container {
	background-color: #f7f7f7;
	width: 100vw;
	height: 100vh;
	&__inner {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
}
