@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	font-family: 'Major Mono Display', monospace;
	color: #333333;
}

.countdown {
	width: 100vw;
	height: 100vh;

	&__year {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		justify-content: center;
		align-items: center;
		font-size: 6rem;

		&-reflection {
			transform: rotateX(180deg);
			opacity: 0.2;
		}

		&-digit {
			display: inline-block;
			position: relative;
			opacity: 0;
		}
	}
}
